  public enum {{datatypeWithEnum}} {
  
    {{#allowableValues}}
	{{#enumVars}}
	{{name}}({{{value}}}){{^-last}}, {{/-last}}{{#-last}};{{/-last}}
	{{/enumVars}}
    {{/allowableValues}}

    private {{datatype}} value;

    {{datatypeWithEnum}} ({{datatype}} v) {
        value = v;
    }

    public {{datatype}} value() {
        return value;
    }

    @Override
    public String toString() {
        return String.valueOf(value);
    }

    public static {{datatypeWithEnum}} fromValue(String v) {
        for ({{#datatypeWithEnum}}{{{.}}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{{classname}}}{{/datatypeWithEnum}} b : {{#datatypeWithEnum}}{{{.}}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{{classname}}}{{/datatypeWithEnum}}.values()) {
            if (String.valueOf(b.value).equals(v)) {
                return b;
            }
        }
        return null;
    }
  }